<div class='custom-products-container'>
	<div class='custom-products-list'>

		{{#each payload}}
		<div class="custom-product-item">

			<a href="./product/{{this._id}}" class="custom-product-link">
				<h2>{{this.name}}</h2>
				<p class="custom-product-category">{{this.category}}</p>
				<p class="custom-product-price">$ {{this.price}}</p>
				<p class="custom-product-stock">Stock: {{this.stock}}</p>
			</a>

			<form
				class='product-form'
				cart="{{../cart}}"
				product="{{this._id}}"
			>
				<button class="custom-product-button">Add to Cart</button>
			</form>

		</div>
		{{/each}}

	</div>

	<div class='custom-paginate-container'>
		{{#if hasPrevPage}}
			<a
				href='/products?query={{query}}&limit={{limit}}&page={{prevPage}}&sort={{sort}}'
			><button class='custom-paginate-button'>Previous</button></a>
		{{/if}}

		<p class='custom-paginate-current'>Page {{page}}</p>

		{{#if hasNextPage}}
			<a
				href='/products?query={{query}}&limit={{limit}}&page={{nextPage}}&sort={{sort}}'
			><button class='custom-paginate-button'>Next</button></a>
		{{/if}}
	</div>
</div>

<script src='/js/products.js' type="module"></script>
